body { 
  padding: 50px; 
  font-family: sans-serif;
}
h1   { color: blue; }
img  { 
  border-radius: 6px;
  margin-bottom: 10px;
}
.container{
}
.inner-container{
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.main {
  float: left;
  padding-left: 10px;
}
.left-col {
  width: 245px;
  float: left;
}
.name {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.title {
  width: 727px;
  font-size: 18px;
  padding: 16px 8px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}
p {
  padding: 16px 8px;
  font-size: 16px;
  width: 727px;
  margin: 0;
  line-height: 25px;
}
li {
  width: 650px;
  padding: 10px 20px;
}
.email {
  /* font-size: 20px; */
  /* color: #666; */
}
